@font-face{
  font-family: Poppins;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face{
  font-family: Poppins_SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face{
  font-family: Poppins_SemiBoldItalic;
  src: url(../font/Poppins-SemiBoldItalic.ttf);
}

:root{
  --font-Popppins: Poppins;
  --font-Popppins_SemiBold: Poppins_SemiBold;
  --font-Poppins_SemiBoldItalic: Poppins_SemiBoldItalic;

  --background-gradiant-blue-pink: linear-gradient(to right, #fc466b, #3f5efb);
  --background-gradiant-console-section: linear-gradient(180deg, rgb(225, 88, 249, 1) 40%, rgba(118,37,189,1) 100%);
  --background-gradiant-resource: linear-gradient(90deg, rgba(168,168,168,0.7) 6%, rgba(212,212,212,0.4) 19%, rgba(255,255,255,0.3) 100%);
  --card-background-color: #321255c7;
  
  --dark: #000000;
  --milk: #ffffff;
  --method-backgroundColor: #360505;
}