@font-face{
  font-family: Poppins;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face{
  font-family: Poppins_SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face{
  font-family: Poppins_SemiBoldItalic;
  src: url(../font/Poppins-SemiBoldItalic.ttf);
}

@font-face{
  font-family: Poppins_Thin;
  src: url(../font/Poppins-Thin.ttf);
}

:root{
  --font-Popppins: Poppins;
  --font-Popppins_Thin: Poppins_Thin;
  --font-Popppins_SemiBold: Poppins_SemiBold;
  --font-Popppins_SemiBoldItalic: Poppins_SemiBoldItalic;

  --background-gradiant-blue-pink: linear-gradient(to right, #fc466b, #3f5efb);
  --background-gradiant-console-section: #eeeeee;
  --background-gradiant-resource: linear-gradient(90deg, #a8a8a8b3 6%, #d4d4d466 19%, #ffffff4d 100%);
  --card-background-color: #321255c7;
  
  --dark: #000000;
  --milk: #ffffff;
  --primary-color: #350355;
  --method-backgroundColor: #350355;
  --border-Color: #c7c7c7;
  --resourceColor: #ec8501;
  --resource-tab-backgroundColor: #e1e5f0;
  --preTag-backgroundColor: rgba(231, 213, 255, 0.15);
  --preTag-Color: #350355;
}